*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;

}

:root {
   
    --black: #000000;
    --white: #ffffff;
    --gray: #1C1D1F;
    --light-gray: #6A6F73;
    --gray86: #D1D7DC;
    --gray100: #F0F2F4;
    --gray-wild-sand: #F3F3F3;
    --gray-alto: #D9D9D9;
    --gray-silver: #B7B7B7;
    --gray-silver-chalice: #999999;
    --gray-mine-shaft: #434343;
    --purple: #A435F0;
    --teal: #72D8BA;
    --dark-teal: #199FA3;
    --yellow: #E9E729;
    --blue: #5022C3;
    --red: #F4522D;
    --teal-green-light: #6AC1D0;
    --teal-green-lighter: #C3E6EC;
    --indigo: #5624D0;
    --indigo200: #B7A9E5;

    font-size: 16px;
}
.page-container {
    /* outline: 1px solid red; */
    margin: 0 auto;
}
header {
    border-bottom: 1px solid #B7B7B7;
}
.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    /* outline: 1px solid blue; */
    padding: 0 30px;
}
nav {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
    /* outline: 1px solid red;  */
}

#logo {
    width: 200px;
}

.menu ul {
    display: flex;
    /* margin: 0 250px 0 50px; */
    list-style: none;    
}
.menu ul li {
    padding: 20px;
    text-decoration: none;
}
.menu ul li a {
    color: #000000;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #5022C3;
}

.login ul {
    display: flex;
    list-style: none;
    margin-right: 15px;
}

.login ul li {
    padding: 20px;
}
.login ul li a {
    color:#000000;
    text-decoration: none;
}
.login ul li a:hover {
    color: #5022C3;
}

.login ul li + li {
    background:#000000;
    color:#ffffff;
    font-weight: bold;
}

.login ul li + li:hover {
    background:#5022C3;
}

.login ul li + li a:hover{
    color:#ffffff;
}

.login ul li + li > a {
    color:#ffffff;
}
.main-section {
    border: 1px solid red;
    margin: 0 auto;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    /* outline: 1px solid red; */
    padding: 50px 30px;
}

.hero-section .hero-text h1, h1 span {
    font-size: 48px;
    line-height: 56px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

h1 span {
    color:#A435F0;
}
.hero-section .hero-text {
    width: 50%;
    /* outline: 1px solid red; */

}

.hero-section .hero-text p{
    font-size: 19px;
    color: var(--gray);
    margin: 22px 0;
    width: 90%;
}

.hero-button {
    padding: 15px 10px;
    background: #000000;
    border:1px solid #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.hero-button a {
    color: #ffffff;
    text-decoration: none;
}

.hero-button:hover {
    background:#5022C3;
    border:1px solid #5022C3;
}

.hero-section img {
    /* outline: 1px solid red; */
}

.reviewer-container{
    background: #F0F2F4;
    height: 400px;
    justify-content: center;
    outline: 1px solid red;
}

.reviewer-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    outline: 1px solid red;
    padding-top: 50px;
}
.reviewer-section h2, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.reviewer-section h2{
    padding-bottom: 15px;
    font-size: 32px;
    line-height: 42px;
}

.reviewer-section p {
    font-size: 19px;
    color: #1C1D1F;
}

.reviewer-badge{
    display: flex;
    justify-content: center;
}

.reviewer-badge img {
    width: 150px;
    padding: 50px 10px;
}

