*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

:root {
   
    --black: #000000;
    --white: #ffffff;
    --gray: #1C1D1F;
    --light-gray: #6A6F73;
    --gray86: #D1D7DC;
    --gray100: #F0F2F4;
    --gray-wild-sand: #F3F3F3;
    --gray-alto: #D9D9D9;
    --gray-silver: #B7B7B7;
    --gray-silver-chalice: #999999;
    --gray-mine-shaft: #434343;
    --purple: #A435F0;
    --teal: #72D8BA;
    --dark-teal: #199FA3;
    --yellow: #E9E729;
    --blue: #5022C3;
    --red: #F4522D;
    --teal-green-light: #6AC1D0;
    --teal-green-lighter: #C3E6EC;
    --indigo: #5624D0;
    --indigo200: #B7A9E5;

    font-size: 16px;
}
.page-container {
    /* outline: 1px solid red; */
    margin: 0 auto;
}

/* START HEADER SECTION */
header {
    border-bottom: 1px solid #B7B7B7;
}
.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    /* outline: 1px solid blue; */
    padding: 0 30px;
}
nav {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
    /* outline: 1px solid red;  */
}

#logo {
    width: 200px;
}

.menu ul {
    display: flex;
    /* margin: 0 250px 0 50px; */
    list-style: none;    
}
.menu ul li {
    padding: 20px;
    text-decoration: none;
}
.menu ul li a {
    color: #000000;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #5022C3;
}

.login ul {
    display: flex;
    list-style: none;
    margin-right: 15px;
}

.login ul li {
    padding: 20px;
}
.login ul li a {
    color:#000000;
    text-decoration: none;
}
.login ul li a:hover {
    color: #5022C3;
}

.login ul li + li {
    background:#000000;
    color:#ffffff;
    font-weight: bold;
}

.login ul li + li:hover {
    background:#5022C3;
}

.login ul li + li a:hover{
    color:#ffffff;
}

.login ul li + li > a {
    color:#ffffff;
}

/* END HEADER SECTION */

.main-section {
    /* border: 1px solid red; */
    margin: 0 auto;
}

/* START HERO SECTION */

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    /* outline: 1px solid red; */
    padding: 50px 30px;
}

.hero-section .hero-text h1, h1 span {
    font-size: 48px;
    line-height: 56px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

h1 span {
    color:#A435F0;
}
.hero-section .hero-text {
    width: 50%;
}

.hero-section .hero-text p{
    font-size: 19px;
    color: var(--gray);
    margin: 22px 0;
    width: 90%;
}

.hero-button {
    padding: 15px 10px;
    background: #000000;
    border:1px solid #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.hero-button a {
    color: #ffffff;
    text-decoration: none;
}

.hero-button:hover {
    background:#5022C3;
    border:1px solid #5022C3;
}

.hero-section img {
    /* outline: 1px solid red; */
}

/* END HERO SECTION */

/* START REVIEWER SECTION */

.reviewer-container{
    background: #F0F2F4;
    height: 450px;
    justify-content: center;
}

.reviewer-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.reviewer-section h2{
    padding-bottom: 15px;
    font-size: 32px;
    line-height: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.reviewer-section p {
    font-size: 19px;
    color: var(--gray);
}

.reviewer-badge{
    display: flex;
    justify-content: center;
}

.reviewer-badge img {
    width: 170px;
    padding: 50px 10px;
}
/* END REVIEWER SECTION */

/* START SOCIAL PROOF SECTION */

.social-proof-container {
    background: #434343;
    height: 300px;
    justify-content: center;
}

.social-proof-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
}

.social-proof-section h3 {
    font-size: 19px;
    line-height: 23px;
    font-weight: bold;
    color: #ffffff;
}

.customer-logo {
    margin: auto;
    /* outline: 1px solid red; */
    justify-content: center;
    
}

.customer-logo img {
    width: 100px;
    margin: 40px;
    vertical-align: middle;
}

/* END SOCIAL PROOF SECTION */

/* START UPSKILL SECTION */

.upskill-container {
    background: #ffffff;
    /* height: 300px; */
    justify-content: center;
}

.upskill-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
}

.upskill-section h2 {
   font-size: 32px;
   line-height: 40px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.upskill-section p {
    font-size: 19px;
    line-height: 26px;
    color: var(--gray);
    padding: 20px 0 50px 0;
 }
  
.upskill-section img {
    width: 400px;
}
    
.sub-section {
    display: flex;
    justify-content: center;
    padding: 40px 80px;
}

.upskill-section .flex-item{
    flex: 1;
    padding: 20px;
}

.upskill-section h3 {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

.upskill-section ul {
    text-align: left;
    padding-left: 35px;
}

.upskill-section ul li::marker {
    font-size: 1.5rem;
}

.upskill-section li{
    padding: 10px;
    font-size: 19px;
    color:var(--gray);
}

.upskill-section a {
    text-decoration: none;
    text-align: left;
    color: var(--blue);
    font-weight: bold;
    font-size: 19px;
}

.upskill-section button {
    padding: 20px;
    color:#5022C3;
    background: #ffffff;
    border: 1px solid white;
    font-weight: bold;
    font-size: 19px;
}

.upskill-section .sub-text {
    text-align: left;
    text-overflow: break-word;
    padding-top: 40px;
}

/* END UPSKILL SECTION */

/* START TESTIMONIAL SECTION */

.testimonial-container {
    background: var(--blue);
    justify-content: center;
}

.testimonial-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
}

.testimonial-section {
    margin: auto;
    display: flex;
    justify-content: center;
}


.testimonial-section > img {
    height: 60px;
    margin: 50px;
    
    
}

.testimonial-text {
    text-align: left;
    padding-left: 100px;
    
}

.testimonial-section .testimonial-text > p {
    color: #ffffff;
    font-family: Times, sans-serif;
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
    width: 90%;
    padding-bottom: 10px;
}

.client-profile {
    display: flex;
    align-items: center;
}

.client-profile p {
    color: #ffffff;
    padding: 3px;
}

.client-name {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: bold;
}

.client-title {
    font-size: 16px;
    line-height: 20px;
}

/* END TESTIMONIAL SECTION */

/* START TRENDS SECTION */

.trends-container {
    background: #ffffff;
    /* height: 300px; */
    justify-content: center;
}

.trends-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    padding: 60px 0;
    display: flex;
}

.trends-section img {
    width: 600px;
    padding: 25px;
}

.trends-section .sub-text {
    padding: 50px 30px 30px 30px;
}

.trends-section p {
    padding: 10px;
    font-size: 19px;
    color:var(--gray);
}

.trends-section ul {
    text-align: left;
    padding: 0 0 30px 35px;
}

.trends-section ul li::marker {
    font-size: 1.5rem;
}

.trends-section li{
    padding: 10px;
    font-size: 19px;
    color:var(--gray);
}

.trends-section a {
    text-decoration: none;
    text-align: left;
    color: var(--white);
    font-weight: bold;
    font-size: 19px;
}

.trends-section button {
    padding: 15px;
    color:#ffffff;
    background: #000000;
    border: 1px solid black;
    font-weight: bold;
    font-size: 19px;
    margin-left: 15px;
}

/* END TRENDS SECTION */

/* START TRANSFORMATIVE SECTION */

.learning-needs-container {
    background: #F7F9FA;
    justify-content: center;
}

.learning-needs-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
}

.learning-needs-section h2 {
    font-size: 32px;
    line-height: 40px;
    color: var(--black);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.learning-needs-section > p {
    font-size: 19px;
    padding: 30px;
}

.learning-needs-section .sub-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.learning-needs-section .sub-section .block {
    flex: 1;
    align-items: left;
    justify-content: left;
    padding: 20px;
    vertical-align: top;
}

.learning-needs-section .sub-section .block img {
    margin-bottom: 30px;
}

.learning-needs-section .sub-section .block h4 {
    margin-bottom: 15px;
}

.learning-needs-section .sub-section .block p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px;
}

.learning-needs-section .sub-section {
    margin: 40px 0 0 0;
}

.learning-needs-section .bottom {
    margin-top: 10px;
}

.learning-needs-section a {
    text-decoration: none;
    text-align: left;
    color: var(--blue);
    font-weight: bold;
    font-size: 19px;
}

.learning-needs-section button {
    /* padding: 20px; */
    color:#5022C3;
    background: #F7F9FA;
    border: 1px solid #F7F9FA;
    font-weight: bold;
    font-size: 19px;
    margin-left: 0;
}

/* END TRANSFORMATIVE SECTION */

/* START CUSTOMIZED LEARNING SECTION */

.customized-learning-container {
    background: #FFFFFF;
    height: 450px;
    justify-content: center;
}

.customized-learning-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
    /* outline: 1px solid red; */
}

.customized-learning-section h2 {
    font-size: 32px;
    line-height: 40px;
    color: var(--black);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 35px;

}
.customized-learning-section p {
    font-size: 19px;
    letter-spacing: 0.2px;
    /* padding: 35px; */
}
.customized-learning-section p + p {

}
.customized-learning-section .tabs-sub {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    padding: 30px;
    /* outline: 1px solid red; */
}

.tabs-sub input[type="radio"] {
    display: none;
}

.tabs-sub label {
    padding: 25px;
    font-weight: bold;
    color: var(--light-gray);
    border-bottom: 2px solid var(--gray86);
    /* border-bottom: 5px solid red; */
}

.tabs-sub .tab {
    width: 100%;
    background: var(--white);
    order: 1;
    display: none;
    padding-top: 30px;
    /* display: flex; */
    /* outline: 1px solid red; */
}

.tabs-sub input[type="radio"]:checked + label + .tab {
    display: block;
}

.tabs-sub input[type="radio"]:checked + label {
    color: var(--black);
    border-bottom: 2px solid black;
}

.customized-learning-section h3 {
    font-size: 24px;
}

.customized-learning-section h3 + p {
    padding: 30px 0;
    width: 80%;
}

.tab-flex-item {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    /* flex: 1; */
}

.tab-flex-item .text-content {
    text-align: left;
    padding-top: 30px;
    /* width: 40%; */
}

.tabs-sub button {
    padding: 15px 10px;
    background: #000000;
    border:1px solid #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.tabs-sub button a {
    color: #ffffff;
    text-decoration: none;
}

.tab-flex-item .img-content {

    padding-right: 30px;
    /* width: 60%; */
}


/* END CUSTOMIZED LEARNING SECTION */


/* START DEMO SECTION */

.demo-container {
    background: var(--purple);
    justify-content: center;
}

.demo-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
    color: var(--white);
    /* outline: 1px solid red; */
}

.demo-section h2 {
    font-size: 40px;
    line-height: 50px;
    color: var(--white);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.demo-section h2 + p {
    font-size: 19px;
    line-height: 26px;
    color: var(--white);
    padding: 20px 0 50px 0;
}

.demo-section button {
    padding: 15px 10px;
    background: #000000;
    border:1px solid #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.demo-section a {
    color: #ffffff;
    text-decoration: none;
}

.demo-section .bottom-btn {
    background: var(--purple);
    border: 1px solid var(--purple);
    text-decoration: underline;
}

.demo-section .bottom-btn a {
    font-size: 19px;
}

.demo-section button + p {
    padding-top: 80px;
    font-size: 19px;
}

/* END DEMO SECTION */



